<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.vlad.sms">

    <!-- Разрешения -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <!-- Разрешение для отключения оптимизаций батареи (ForegroundService) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Главная Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Настройки -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"/>

        <!-- Экран «О программе» -->
        <activity
            android:name=".AboutActivity"
            android:exported="true"/>

        <!-- Ресивер для приёма SMS -->
        <receiver
            android:name=".SMSReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Foreground Service (по желанию, если хотите постоянный сервис) -->
        <service
            android:name=".MyForegroundService"
            android:exported="false"
            android:foregroundServiceType="remoteMessaging" />


    </application>
</manifest>
